TZ="UTC"
NODE_ENV="development"

APP_STAGE="dev"
HOST="0.0.0.0"
PORT="10001"
JWT_SECRET_ADMIN=""

JWT_EXPIRES_IN_DAYS=180
JWT_SECRET="=" # node -e "console.log(require('crypto').randomBytes(32).toString('base64'));"
DEV_PHONE="17000000000"

DB_HOST="127.0.0.1"
DB_PORT="5432"
DB_USER="postgres"
DB_PASS="password"
DB_NAME="haole"
DATABASE_URL="postgresql://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}"


DATABASE_LOG="true"


URI_SERVER="http://localhost:10001"
URI_CLIENT="http://localhost:10003"
URI_ADMIN="http://localhost:10002"

SERVER_IP=
SERVER_USERNAME=
SERVER_PASSWORD=

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

UPLOADS_DIR=""

RESEND_API_KEY=""
RESEND_FROM_EMAIL=""
